http:
  middlewares:
    middlewares-authelia:
      forwardAuth:
        address: "http://{{ dc_authelia_container_name }}:{{ dc_authelia_port }}/api/verify?rd=https://{{ dc_authelia_container_name }}.{{ domain_1 }}"
        trustForwardHeader: true
        authResponseHeaders:
          - "Remote-User"
          - "Remote-Groups"
