auth_enabled: false

server:
  http_listen_port: {{ dc_loki_port }}

common:
  instance_addr: {{ dc_loki_net_ip }}
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb # ? boltdb-shipper seams to be legacy so do not use it
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  split_queries_by_interval: 24h
  max_query_parallelism: 64
  max_entries_limit_per_query: 5000

query_scheduler:
  max_outstanding_requests_per_tenant: 32000  # This seams to affect the query_range

frontend:
  max_outstanding_per_tenant: 1024
  log_queries_longer_than: 5s
  compress_responses: true

query_range:
  cache_results: true

ingester:
  chunk_idle_period: 30m
  chunk_target_size: 1572864
  max_chunk_age: 2h
  wal:
    enabled: true


# storage_config:
#   index_queries_cache_config:
#     enable_fifocache: true
#     fifocache:
#       max_size_bytes: 1073741824

# chunk_store_config:
#   max_look_back_period: 336h


ruler:
  alertmanager_url: http://localhost:9093

# By default, Loki will send anonymous, but uniquely-identifiable usage and configuration
# analytics to Grafana Labs. These statistics are sent to https://stats.grafana.org/
#
# Statistics help us better understand how Loki is used, and they show us performance
# levels for most users. This helps us prioritize features and documentation.
# For more information on what's sent, look at
# https://github.com/grafana/loki/blob/main/pkg/usagestats/stats.go
# Refer to the buildReport method to see what goes into a report.
#
# If you would like to disable reporting, uncomment the following lines:
analytics:
 reporting_enabled: false

# https://github.com/grafana/loki/blob/main/cmd/loki/loki-docker-config.yaml
# http://10.0.90.20:3100/config   # https://loki.your.dom/config
