#cloud-config
# instance-id: iid-{{ pve_vm_id }}
local-hostname: {{ pve_vm_hostname }}

# instance-id: i-1234567890abcdef0
# local-hostname: my-instance
# availability-zone: us-west-2a
# public-ipv4: 203.0.113.10
# local-ipv4: 192.168.99.10
# custom-metadata:
#   owner: John Doe
#   project: Example Project
