#cloud-config
network:
  version: 2
  ethernets:
    eth0:
      match:
        name: "en*"
      # set-name: eth0
      dhcp4: no
      gateway4: {{ vms_net_gateway }}
      addresses:
       - "{{ pve_vm_ipv4_address_0 }}/{{ pve_vm_net_prefix_length_0 }}"
      nameservers:
        addresses: [{{ vms_net_dns_server if vms_net_dns_server is defined else vms_net_gateway }}]
        search: [{{ pve_vm_search_domain if pve_vm_search_domain is defined else domain_1 }}]
      # routes:
      #   - to: 192.168.99.0/24
      #     via: 192.168.99.1
      #     metric: 3
    # eth0:
    #   match:
    #     name: "en*"
    #   dhcp4: true
