#cloud-config
network:
  version: 2
  ethernets:
    eth0:
      match:
        name: "en*"
      # set-name: eth0
      dhcp4: no
      gateway4: {{ vms_net[env].gateway }}
      addresses:
       - "{{ pve_vm_obj.ip }}/{{ vms_net[env].subnet | ansible.utils.ipaddr('prefix') }}"
      nameservers:
        addresses: [{{ vms_net[env].dns_server if vms_net[env].dns_server is defined else vms_net[env].gateway }}]
        search: [{{ vms_net[env].search_domain if vms_net[env].search_domain is defined else '' }}]
      # routes:
      #   - to: 192.168.99.0/24
      #     via: 192.168.99.1
      #     metric: 3
    # eth0:
    #   match:
    #     name: "en*"
    #   dhcp4: true
