sources:
# ! Logs
  vector_internal_logs:
    type: internal_logs
    # pid_key: "pid"
    # host_key: "host"
  # host_logs:
  #   type: file
  #   include:
  #     # - /var/log/**/*.log

  # host_logs:
  #   type: file
  #   include:
  #     # - /var/log/**/*.log

