# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
scrape_configs:
# ! ---- Scrape config for ingress vm ---- ! #
  - job_name: 'node-exporter-ingress'
    scheme: https
    tls_config:
      insecure_skip_verify: {{ dc_prometheus_nodeexporter_insecure_skip_verify }}
    basic_auth:
      username: "{{ dc_prometheus_nodeexporter_basic_auth_user }}"
      password: "{{ dc_prometheus_nodeexporter_basic_auth_password }}"
    static_configs:
      - targets: ['nodeexporter-ingress.{{ domain_1 }}']

  - job_name: "cadvisor-ingress"
    scheme: https
    tls_config:
      insecure_skip_verify: {{ dc_cadvisor_insecure_skip_verify }}
    basic_auth:
      username: "{{ dc_cadvisor_basic_auth_user }}"
      password: "{{ dc_cadvisor_basic_auth_password }}"
    static_configs:
      - targets: ['cadvisor-ingress.{{ domain_1 }}']


# ! ---- Scrape config for metrics vm (local) ---- ! #
  - job_name: "prometheus-{{ dc_traefik_type }}"
    static_configs:
      - targets: ["localhost:{{ dc_grafana_prometheus_port }}"]

  - job_name: "node-exporter-{{ dc_traefik_type }}"
    static_configs:
      - targets: ["{{ dc_grafana_net_nodeexporter_ip }}:{{ dc_grafana_nodeexporter_port }}"]

  - job_name: "cadvisor-{{ dc_traefik_type }}"
    static_configs:
      - targets: ["{{ dc_grafana_net_cadvisor_ip }}:{{ dc_grafana_cadvisor_port }}"]


# ! ---- Scrape config for application-1 vm ---- ! #
# * Scrape config for Node Exporter
  # - job_name: "node-exporter-application-1"
  # like node-exporter-ingress


# ! --------------------------- Notes --------------------------- ! #
# ! Except for Prometheus itself which can use localhost, all other containers have to be defined by the IP of the internal network ips eg {{ dc_grafana_net_cadvisor_ip }} to work.
# ! To verify if the setup is successful, check the Grafana GUI under Explore --> Metrics. The data source should be Prometheus and the Job should be cadvisor-{{ dc_traefik_type }}. If it's not present, it indicates a failure.