{
    "bip": "{{ docker_provisioning_docker_net_gateway }}/{{ docker_provisioning_docker_net_prefix_length }}",
    "fixed-cidr": "{{ docker_provisioning_docker_net_cidr }}",
    "mtu": 1500,
    "default-gateway": "{{ docker_provisioning_docker_net_gateway }}",
    "default-address-pools": {{ docker_provisioning_default_address_pools | to_json }},
    "ipv6": false,
    "storage-driver": "overlay2",
    "userns-remap": "{{ docker_provisioning_dockerino_user_name }}",
    "log-driver": "json-file",
    "log-opts": {
      "max-size": "10m",
      "max-file": "3"
    }
}
