server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://grafana-loki:3100/loki/api/v1/push
    external_labels:
      instance: {{ ansible_hostname }}

scrape_configs:
  - job_name: file_logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: var_logs
          __path__: /var/log/*.log
      - targets:
          - localhost
        labels:
          job: docker_file_logs
          __path__: /opt/docker/logs/**/*.log

  - job_name: docker_logs
    docker_sd_configs:
      # - host: unix:///var/run/docker.sock
      - host: tcp://{{ app_name }}-promtail-socketproxy:2375
        refresh_interval: 5s
        # filters:
        #   - name: label
        #     values: ["logging=promtail"]
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: 'logstream'
      - source_labels: ['__meta_docker_container_label_logging_jobname']
        target_label: 'job'


# If using filters with logging=promtail
# Use it like this:
  # nginx-app:
  #   container_name: nginx-app
  #   image: nginx
  #   labels:
  #     logging: "promtail"
  #     logging_jobname: "containerlogs"
# credits: https://ruanbekker.medium.com/logging-with-docker-promtail-and-grafana-loki-d920fd790ca8
