---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/docker/

# {{ vm31_application_1.hostname }}-docker:
#   host: {{ dc_homepage_socketproxy_net.socketproxy_ip }}
#   port: 2375

# my-docker:
#   socket: /var/run/docker.sock
