http:
# ! -------------------------- Services -------------------------- ! #
  services:
    webmin-ingress-svc:
      loadBalancer:
        servers:
          - url: "https://{{ dc_vms_net_vm10_ingress_ip }}:10000"


# ! -------------------------- Routers -------------------------- ! #
  routers:
    webmin-ingress-rtr:
      entryPoints:
        - websecure
      rule: "Host(`webmin-ingress.{{ domain_1 }}`)"
      middlewares:
        - chain-authelia
      service: webmin-ingress-svc


# ! ------------------------ Middlewares ------------------------ ! #
